//- html-styles.jade
// Default page styles for all pages.
link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
link(rel="stylesheet" type="text/css" href="css/styles.min.css")
// Custom page styles go here.
block pagestyles